In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("car_price_prediction_.csv")

print(df.head(10))
print(df.info())
print(df.isnull().sum())
print(df.describe())

   Car ID  Brand  Year  Engine Size Fuel Type Transmission  Mileage Condition  \
0       1  Tesla  2016          2.3    Petrol       Manual   114832       New
1       2    BMW  2018          4.4  Electric       Manual   143190      Used
2       3   Audi  2013          4.5  Electric       Manual   181601       New
3       4  Tesla  2011          4.1    Diesel    Automatic    68682       New
4       5   Ford  2009          2.6    Diesel       Manual   223009  Like New
5       6   Audi  2019          2.4    Diesel    Automatic   246553  Like New
6       7   Audi  2020          4.0  Electric    Automatic   135486      Used
7       8  Tesla  2017          5.3    Hybrid    Automatic    83030       New
8       9  Honda  2023          5.7  Electric       Manual   120360  Like New
9      10   Ford  2010          1.5  Electric    Automatic   135009  Like New

      Price     Model
0  26613.92   Model X
1  14679.61  5 Series
2  44402.61        A4
3  86374.33   Model Y
4  73577.10   Mustang
5  88969.76        Q7
6  63498.75        Q5
7  17381.19   Model Y
8  15905.62     Civic
9   9560.22  Explorer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Car ID        2500 non-null   int64
 1   Brand         2500 non-null   object
 2   Year          2500 non-null   int64
 3   Engine Size   2500 non-null   float64
 4   Fuel Type     2500 non-null   object
 5   Transmission  2500 non-null   object
 6   Mileage       2500 non-null   int64
 7   Condition     2500 non-null   object
 8   Price         2500 non-null   float64
 9   Model         2500 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 195.4+ KB
None
Car ID          0
Brand           0
Year            0
Engine Size     0
Fuel Type       0
Transmission    0
Mileage         0
Condition       0
Price           0
Model           0
dtype: int64
           Car ID       Year  Engine Size        Mileage         Price
count  2500.00000  2500.0000  2500.000000    2500.000000   2500.000000
mean   1250.50000  2011.6268     3.465240  149749.844800  52638.022532
std     721.83216     6.9917     1.432053   87919.952034  27295.833455
min       1.00000  2000.0000     1.000000      15.000000   5011.270000
25%     625.75000  2005.0000     2.200000   71831.500000  28908.485000
50%    1250.50000  2012.0000     3.400000  149085.000000  53485.240000
75%    1875.25000  2018.0000     4.700000  225990.500000  75838.532500
max    2500.00000  2023.0000     6.000000  299967.000000  99982.590000

I chose the topic of car price prediction because I love cars and am interested in their prices.
https://www.kaggle.com/datasets/zafarali27/car-price-prediction?resource=download

1. The 'Year' column has many wrong values.
2. The 'Price' column is stored as an object/string instead of a number.

Honestly, I didnâ€™t see any mistakes, I was just writing and trying out the commands.

In [11]:
df['Year'].fillna(df['Year'].median(), inplace=True)

In [12]:
df['Price'] = df['Price'].replace('[.]', '', regex=True).astype(float)

In [13]:
df.drop('Car ID', axis=1, inplace=True)

In [14]:
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         2500 non-null   object
 1   Year          2500 non-null   int64
 2   Engine Size   2500 non-null   float64
 3   Fuel Type     2500 non-null   object
 4   Transmission  2500 non-null   object
 5   Mileage       2500 non-null   int64
 6   Condition     2500 non-null   object
 7   Price         2500 non-null   float64
 8   Model         2500 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 175.9+ KB
None
Brand           0
Year            0
Engine Size     0
Fuel Type       0
Transmission    0
Mileage         0
Condition       0
Price           0
Model           0
dtype: int64

After filling the missing values in 'Year', the column now has 0 nulls. 
After converting 'Price' to float, its dtype changed from object to float64.
The 'Car ID' column was dropped because it was irrelevant.